@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Westford Modern Demo';
    src: url('./assets/fonts/WestfordModernDemo-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Canistel';
    src: url('./assets/fonts/Canistel.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}